// colors
$color-primary: rgb(81, 208, 224);
$color-secundary: rgb(19, 53, 128);
$color-green: #3CAEA3;
$color-green-dark: rgb(60, 100, 174);
$color-yellow: #F6D55C;
$color-yellow-dark: rgb(246, 136, 92);
$color-orange: #CD5334;
$color-orange-dark: rgb(205, 52, 52);

$color-light-grey-1: #F7F7F7;
$color-light-grey-2: #eee;

$color-dark-grey: #777;
$color-dark-grey-2: #999;
$color-dark-grey-3: #333;

$color-white: #fff;
$color-black: #000;

// Typogrphy

$default-font-size: 1.6rem;


// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
//pt0002000037042015gn
//pt1605000008059342dp
